@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1>About Us</h1>
</div>

<p>
    We are a group of local farmers whom have decided to band together to start a brick‐and‐mortar store where
    we can sell all their products under one roof. Our brand name will be Farm Central.
    This website will track incoming and outgoing stock and which farmer each item belongs
    to.
</p>
<p>
    For prospectable Farmers wishing to join our growing family, a account is needed to view personilized ingformation
    that is restricted on whom can view it.
</p>