@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At Farm Central, we are committed to protecting your privacy. This Privacy Policy outlines the types of personal information we collect from you when you use our website, the purposes for which we use this information, and the measures we take to safeguard your personal information.
</p>

<h3>Personal Information We Collect</h3>

<p>
    When you visit  Farm Central, you may provide us with personal information in a variety of ways. This can include your name, surname, email address, and any other information you 
    provide through forms or surveys on our website. Additionally, we may collect information about your device, including your IP address and the type of browser you are using. 
    We may also collect non-personally identifiable information such as cookies or log files to track usage statistics.

</p>

<h3>Use of Personal Information</h3>

<p>
    We use your personal information to improve your experience on our website. We may use your personal information to communicate with you about products or services that you’ve requested, 
    to respond to your inquiries and to create a better understanding of our visitors. The non-personally identifiable information we collect is used for analysis and optimization of our website.

</p>

<h3>Disclosure of Personal Information</h3>


<p>We will not disclose your personal information to third parties except under the following circumstances:</p>



<p>
    We have your consent.<br>
    We are required to by law.<br>
    We have a good-faith belief that it is necessary for the protection of our legal interests.<br>
    Security of Personal Information.<br>
    We take reasonable measures to safeguard your personal information from unauthorized access or disclosure. Such measures include secured servers, password management and personnel training. 
    Please note that we cannot guarantee the security of information transmitted over the internet or stored on our servers.<br>

</p>

<p>
    Accessing, Correcting or Deleting Personal Information.<br>
    You are entitled to access, correct, and delete any personal information that you’ve provided us. To do so, please contact us at 0818881435.<br>

</p>

<p>
    Changes to this Privacy Policy.<br>
    We reserve the right to modify or update this Privacy Policy at any time. If this Privacy Policy is changed in a material way, we will post the revised Privacy Policy on our website.<br>

</p>

<p>
    Contact Us<br>
    If you have any questions about our privacy practices or this Privacy Policy, please contact us at 0818881435.
</p>
